In [17]:
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from scipy import stats

In [18]:
df=pd.read_csv('data.csv',engine='python')

In [21]:

df=df.drop(['mths_since_last_major_derog','mths_since_last_delinq','mths_since_last_record','member_id ','grade','sub_grade','Emp_designation','Experience','home_ownership'],axis=1)

In [23]:
df=df.drop(['batch_ID '],axis=1)

In [24]:
df1=df[df.columns[df.isnull().any()]] 
df2=df[df.columns[~df.isnull().any()]]

In [25]:
df11=df1.drop(['verification_status_joint'],axis=1)

In [26]:
n=df11.columns

In [27]:
#Filling missing values to numerical variables
mp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
mp_median = SimpleImputer(missing_values=np.nan, strategy='median')
df11=mp_median.fit_transform(df11)

In [29]:
df13=pd.DataFrame(df11)

In [31]:
df13.columns=n

In [34]:
df=pd.concat([df2 ,df13],axis=1)

In [41]:
lb_make = LabelEncoder()

In [43]:
category_col =['terms', 'verification_status', 'purpose', 'State', 'initial_list_status', 
               'application_type'] 
mapping_dict = {}
for col in category_col:
    df[col] = lb_make.fit_transform(df[col]) 

    le_name_mapping = dict(zip(lb_make.classes_, 
                        lb_make.transform(lb_make.classes_))) 

    mapping_dict[col]= le_name_mapping

In [46]:
mapping_dict

{'State': {0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  13: 13,
  14: 14,
  15: 15,
  16: 16,
  17: 17,
  18: 18,
  19: 19,
  20: 20,
  21: 21,
  22: 22,
  23: 23,
  24: 24,
  25: 25,
  26: 26,
  27: 27,
  28: 28,
  29: 29,
  30: 30,
  31: 31,
  32: 32,
  33: 33,
  34: 34,
  35: 35,
  36: 36,
  37: 37,
  38: 38,
  39: 39,
  40: 40,
  41: 41,
  42: 42,
  43: 43,
  44: 44,
  45: 45,
  46: 46,
  47: 47,
  48: 48,
  49: 49,
  50: 50,
  51: 51,
  52: 52,
  53: 53,
  54: 54,
  55: 55,
  56: 56,
  57: 57,
  58: 58,
  59: 59,
  60: 60,
  61: 61,
  62: 62,
  63: 63,
  64: 64,
  65: 65,
  66: 66,
  67: 67,
  68: 68,
  69: 69,
  70: 70,
  71: 71,
  72: 72,
  73: 73,
  74: 74,
  75: 75,
  76: 76,
  77: 77,
  78: 78,
  79: 79,
  80: 80,
  81: 81,
  82: 82,
  83: 83,
  84: 84,
  85: 85,
  86: 86,
  87: 87,
  88: 88,
  89: 89,
  90: 90,
  91: 91,
  92: 92,
  93: 93,
  94: 94,
  95: 95,
  96: 96,
  97: 97}}

In [14]:
y=df[['total revol_bal']]

In [15]:
x=df.iloc[:,[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13,
                15, 16, 17, 18, 19, 20, 21, 22, 23, 24]]

In [16]:
x.columns

Index([                    'terms',            'Rate_of_intrst',
             'verification_status',                   'purpose',
                           'State',         'debt_income_ratio',
             'initial_list_status',             'total_rec_int',
              'total_rec_late_fee',                'recoveries',
         'collection_recovery_fee',          'application_type',
                   'last_week_pay', 'verification_status_joint',
                                 0,                           1,
                                 2,                           3,
                                 4,                           5,
                                 6,                           7,
                                 8,                           9],
      dtype='object')

In [48]:
y

        total revol_bal
0               22515.0
1                7624.0
2               10877.0
3               13712.0
4               35835.0
...                 ...
887374          12201.0
887375          52584.0
887376          10948.0
887377          33599.0
887378           5118.0

[887379 rows x 1 columns]

In [49]:
x

,terms,Rate_of_intrst,verification_status,purpose,State,debt_income_ratio,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,...,annual_inc,delinq_2yrs,inq_last_6mths,numb_credit,pub_rec,total_credits,collections_12_mths_ex_med,acc_now_delinq,tot_colle_amt,tot_curr_bal
0,0,19.19,1,2,9,33.88,0,1173.84,0.0,0.0,...,28700.0,0.0,1.0,14.0,1.0,28.0,0.0,0.0,0.0,28699.0
1,0,10.99,1,4,20,3.64,1,83.95,0.0,0.0,...,65000.0,0.0,1.0,6.0,0.0,13.0,0.0,0.0,0.0,9974.0
2,0,7.26,0,2,35,18.42,1,56.47,0.0,0.0,...,45000.0,0.0,0.0,5.0,0.0,19.0,0.0,0.0,65.0,38295.0
3,0,19.72,0,2,45,14.97,0,4858.62,0.0,0.0,...,105000.0,0.0,2.0,10.0,0.0,21.0,0.0,0.0,0.0,55564.0
4,0,10.64,2,1,4,20.16,1,2296.41,0.0,0.0,...,52000.0,0.0,0.0,11.0,0.0,27.0,0.0,0.0,0.0,47159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,0,6.49,0,1,43,12.46,1,1180.32,0.0,0.0,...,97250.0,0.0,0.0,12.0,0.0,24.0,0.0,0.0,0.0,143920.0
887375,1,25.89,2,2,34,11.78,0,6508.41,0.0,0.0,...,180000.0,2.0,2.0,21.0,0.0,33.0,0.0,0.0,0.0,772713.0
887376,1,17.51,2,4,30,16.44,0,3456.24,0.0,0.0,...,56000.0,0.0,3.0,11.0,1.0,25.0,0.0,0.0,0.0,80559.0
887377,0,7.26,1,1,20,15.00,1,766.84,0.0,0.0,...,100000.0,0.0,0.0,7.0,0.0,11.0,0.0,0.0,0.0,291998.0
887378,1,7.49,0,2,9,28.00,0,326.06,0.0,0.0,...,12000.0,0.0,0.0,7.0,0.0,7.0,0.0,0.0,0.0,80559.0

In [50]:
a=x.columns

In [51]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x=scaler.fit_transform(x)

In [52]:
x

array([[-0.65472446,  1.35633124, -0.03458908, ..., -0.06429842,
        -0.02100372, -0.71496666],
       [-0.65472446, -0.51501808, -0.03458908, ..., -0.06429842,
        -0.02100372, -0.8411535 ],
       [-0.65472446, -1.36625381, -1.29661067, ..., -0.06429842,
        -0.01443463, -0.6502997 ],
       ...,
       [ 1.52736008,  0.97293284,  1.2274325 , ..., -0.06429842,
        -0.02100372, -0.36548471],
       [-0.65472446, -1.36625381, -0.03458908, ..., -0.06429842,
        -0.02100372,  1.05939215],
       [ 1.52736008, -1.31376474, -1.29661067, ..., -0.06429842,
        -0.02100372, -0.36548471]])

In [53]:
x=pd.DataFrame(x)

In [54]:
x.columns=a

In [55]:
x

,terms,Rate_of_intrst,verification_status,purpose,State,debt_income_ratio,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,...,annual_inc,delinq_2yrs,inq_last_6mths,numb_credit,pub_rec,total_credits,collections_12_mths_ex_med,acc_now_delinq,tot_colle_amt,tot_curr_bal
0,-0.654724,1.356331,-0.034589,-0.250552,-0.933221,0.914625,-0.97077,-0.277263,-0.097042,-0.112082,...,-0.716057,-0.364672,0.305877,0.461058,1.382450,0.230737,-0.107149,-0.064298,-0.021004,-0.714967
1,-0.654724,-0.515018,-0.034589,0.626483,-0.207249,-0.844475,1.03011,-0.797409,-0.097042,-0.112082,...,-0.154990,-0.364672,0.305877,-1.043486,-0.335522,-1.036116,-0.107149,-0.064298,-0.021004,-0.841154
2,-0.654724,-1.366254,-1.296611,-0.250552,0.782712,0.015297,1.03011,-0.810523,-0.097042,-0.112082,...,-0.464118,-0.364672,-0.695687,-1.231554,-0.335522,-0.529374,-0.107149,-0.064298,-0.014435,-0.650300
3,-0.654724,1.477284,-1.296611,-0.250552,1.442686,-0.185394,-0.97077,1.481284,-0.097042,-0.112082,...,0.463266,-0.364672,1.307441,-0.291214,-0.335522,-0.360461,-0.107149,-0.064298,-0.021004,-0.533925
4,-0.654724,-0.594893,1.227433,-0.689069,-1.263208,0.116515,1.03011,0.258479,-0.097042,-0.112082,...,-0.355923,-0.364672,-0.695687,-0.103146,-0.335522,0.146281,-0.107149,-0.064298,-0.021004,-0.590566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,-0.654724,-1.541978,-1.296611,-0.689069,1.310691,-0.331404,1.03011,-0.274170,-0.097042,-0.112082,...,0.343479,-0.364672,-0.695687,0.084922,-0.335522,-0.107090,-0.107149,-0.064298,-0.021004,0.061502
887375,1.527360,2.885361,1.227433,-0.250552,0.716715,-0.370960,-0.97077,2.268640,-0.097042,-0.112082,...,1.622496,1.954892,1.307441,1.777534,-0.335522,0.653022,-0.107149,-0.064298,-0.021004,4.298907
887376,1.527360,0.972933,1.227433,0.626483,0.452725,-0.099882,-0.97077,0.812004,-0.097042,-0.112082,...,-0.294097,-0.364672,2.309004,-0.103146,1.382450,-0.022633,-0.107149,-0.064298,-0.021004,-0.365485
887377,-0.654724,-1.366254,-0.034589,-0.689069,-0.207249,-0.183649,1.03011,-0.471502,-0.097042,-0.112082,...,0.385984,-0.364672,-0.695687,-0.855418,-0.335522,-1.205029,-0.107149,-0.064298,-0.021004,1.059392
887378,1.527360,-1.313765,-1.296611,-0.250552,-0.933221,0.572578,-0.97077,-0.681863,-0.097042,-0.112082,...,-0.974179,-0.364672,-0.695687,-0.855418,-0.335522,-1.542857,-0.107149,-0.064298,-0.021004,-0.365485

In [56]:
# Feature Extraction
y

        total revol_bal
0               22515.0
1                7624.0
2               10877.0
3               13712.0
4               35835.0
...                 ...
887374          12201.0
887375          52584.0
887376          10948.0
887377          33599.0
887378           5118.0

[887379 rows x 1 columns]

In [57]:
from sklearn.model_selection import RepeatedKFold

In [58]:

kf = RepeatedKFold(n_splits=5, n_repeats=10, random_state=None) 

for train_index, test_index in kf.split(x):
    print("Train:", train_index, "Validation:",test_index)
    x_train, x_test = x.iloc[train_index], x.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

Train: [     0      4      6 ... 887374 887376 887377] Validation: [     1      2      3 ... 887367 887375 887378]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     4     13     14 ... 887368 887370 887371]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     7     10     20 ... 887355 887361 887376]
Train: [     1      2      3 ... 887376 887377 887378] Validation: [     0      6      8 ... 887369 887373 887374]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [    17     25     29 ... 887362 887372 887377]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     4     26     30 ... 887370 887372 887376]
Train: [     3      4      5 ... 887376 887377 887378] Validation: [     0      1      2 ... 887350 887361 887362]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     6      7      8 ... 887373 887374 887375]
Train: [     0      1      2 ... 887374 887375 887376] Validation: [    10     12     15 ... 887364 887377 887378]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     3      5      9 ... 887354 887363 887368]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [     5      9     14 ... 887373 887374 887377]
Train: [     0      1      3 ... 887376 887377 887378] Validation: [     2      4      6 ... 887364 887371 887375]
Train: [     0      2      3 ... 887376 887377 887378] Validation: [     1     16     18 ... 887367 887368 887370]
Train: [     0      1      2 ... 887374 887375 887377] Validation: [     7      8     11 ... 887365 887376 887378]
Train: [     1      2      4 ... 887376 887377 887378] Validation: [     0      3     12 ... 887355 887360 887366]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     3      5      7 ... 887365 887367 887376]
Train: [     0      3      4 ... 887376 887377 887378] Validation: [     1      2     10 ... 887363 887364 887368]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [    12     19     29 ... 887370 887372 887374]
Train: [     1      2      3 ... 887374 887376 887377] Validation: [     0      4      8 ... 887373 887375 887378]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [     6      9     17 ... 887366 887371 887377]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     3     12     15 ... 887358 887364 887376]
Train: [     1      2      3 ... 887376 887377 887378] Validation: [     0      6      7 ... 887367 887372 887375]
Train: [     0      1      2 ... 887375 887376 887377] Validation: [    14     20     24 ... 887361 887362 887378]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [     4      8     22 ... 887370 887371 887377]
Train: [     0      3      4 ... 887376 887377 887378] Validation: [     1      2      5 ... 887369 887373 887374]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [     9     11     26 ... 887363 887371 887377]
Train: [     1      2      4 ... 887375 887376 887377] Validation: [     0      3      8 ... 887367 887370 887378]
Train: [     0      1      3 ... 887376 887377 887378] Validation: [     2      4      6 ... 887364 887373 887375]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [    18     24     29 ... 887354 887362 887368]
Train: [     0      2      3 ... 887375 887377 887378] Validation: [     1      5      7 ... 887372 887374 887376]
Train: [     0      1      3 ... 887376 887377 887378] Validation: [     2     21     26 ... 887367 887373 887374]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     3     12     14 ... 887358 887365 887366]
Train: [     2      3      7 ... 887374 887375 887376] Validation: [     0      1      4 ... 887364 887377 887378]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     7      9     33 ... 887371 887372 887376]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     8     10     11 ... 887368 887370 887375]
Train: [     0      1      3 ... 887376 887377 887378] Validation: [     2      6      7 ... 887367 887370 887375]
Train: [     1      2      3 ... 887375 887376 887378] Validation: [     0     18     24 ... 887354 887355 887377]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     3     10     11 ... 887366 887368 887369]
Train: [     0      1      2 ... 887375 887376 887377] Validation: [     4      5      9 ... 887371 887374 887378]
Train: [     0      2      3 ... 887375 887377 887378] Validation: [     1     13     15 ... 887372 887373 887376]
Train: [     0      1      2 ... 887375 887376 887378] Validation: [     3     18     19 ... 887372 887373 887377]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     4      5     16 ... 887357 887358 887364]
Train: [     1      3      4 ... 887375 887376 887377] Validation: [     0      2      7 ... 887368 887369 887378]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     8     12     13 ... 887345 887371 887374]
Train: [     0      2      3 ... 887374 887377 887378] Validation: [     1      6      9 ... 887370 887375 887376]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     3     10     11 ... 887364 887369 887375]
Train: [     0      1      2 ... 887376 887377 887378] Validation: [     7      8     12 ... 887361 887366 887374]
Train: [     1      2      3 ... 887376 887377 887378] Validation: [     0      5      6 ... 887357 887360 887370]
Train: [     0      1      2 ... 887375 887377 887378] Validation: [     4      9     16 ... 887359 887363 887376]
Train: [     0      3      4 ... 887374 887375 887376] Validation: [     1      2     18 ... 887373 887377 887378]

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
ln=LinearRegression()

In [61]:
lnfit=ln.fit(x_train,y_train)

In [62]:
ypred=lnfit.predict(x_test)

In [68]:
lnfit.score(x_train,y_train)  #0.2421497882511232

0.2421497882511232

In [69]:
lnfit.score(x_test,y_test) #0.24260182401878627

0.24260182401878627

In [64]:
from sklearn.metrics import r2_score
r2_score(y_test, ypred)   #0.24260182401878627

0.24260182401878627

In [65]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [66]:
rms = sqrt(mean_squared_error(y_test, ypred))

In [67]:
rms   #19693.431449753723

19693.431449753723

In [70]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(x_train, y_train)
clf_pred=clf.predict(x_test)
r2_score(y_test,clf_pred)   #-0.25400879405351673

-0.25400879405351673

In [71]:
clf.score(x_train,y_train)  #-0.25400879405351673

1.0

In [72]:
clf.score(x_test,y_test)  #-0.25400879405351673

-0.25400879405351673

In [73]:
rms = sqrt(mean_squared_error(y_test, clf_pred))

In [74]:
rms  #25340.17205130512

25340.17205130512

In [75]:
from sklearn.linear_model import Ridge
rr = Ridge(alpha=100) 
rr.fit(x_train, y_train)
rr_pred=rr.predict(x_test)
Ridge_train_score = rr.score(x_train,y_train)
Ridge_test_score = rr.score(x_test, y_test)

In [76]:
rr.score(x_train,y_train)  #0.24214978434765289

0.24214978434765289

In [77]:
rr.score(x_test,y_test) #0.24260035998329676

0.24260035998329676

In [78]:
r2_score(y_test,rr_pred)   #0.24260035998329676

0.24260035998329676

In [79]:
rms = sqrt(mean_squared_error(y_test,rr_pred))

In [80]:
rms   #19693.450483248613

19693.450483248613

In [81]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)
Random_r=model.predict(x_test)
r2_score(y_test,Random_r)

C:\Users\pavan\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.39358768978850067

In [82]:
model.score(x_train,y_train) #0.9081972462401092

0.9081972462401092

In [83]:
model.score(x_test,y_test) #0.3935876897885006

0.3935876897885006

In [84]:
rms = sqrt(mean_squared_error(y_test,Random_r))

In [85]:
rms  #17621.51616738632

17621.51616738632

In [86]:
from sklearn.linear_model import LassoCV
model = LassoCV()
model.fit(x_train, y_train)
model.score(x_train,y_train)
model.score(x_test,y_test)
L_r=model.predict(x_test)
r2_score(y_test,L_r)

C:\Users\pavan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1088: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.2417887286617949

In [87]:
model.score(x_train,y_train)  #0.24181567562182493

0.24181567562182493

In [88]:
model.score(x_test,y_test)  #0.2417887286617949

0.2417887286617949

In [89]:
rms = sqrt(mean_squared_error(y_test,L_r))

In [90]:
rms  #19703.99943297979

19703.99943297979

In [91]:
from sklearn.linear_model import ElasticNetCV
model = ElasticNetCV()
model.fit(x_train, y_train)
model.score(x_train,y_train)
model.score(x_test,y_test)
er = model.predict(x_test)
r2_score(y_test,er)  #0.06519183406895845

C:\Users\pavan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1088: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.06519183406895845

In [92]:
model.score(x_train,y_train) #0.06659649420435976

0.06659649420435976

In [93]:
model.score(x_test,y_test)  #0.06519183406895845

0.06519183406895845

In [94]:
rms=sqrt(mean_squared_error(y_test,er))

In [95]:
rms #21878.64980714331

21878.64980714331